<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Kepler False Positive Interactive Plotting Tool</title>

	</head>

	<body>

		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script>

		<div id="figure"></div>
		<form method="POST" action="/plot_w_options">
			<select onchange="this.form.submit()" name='color_choice'>
				<option selected="selected" value='default'>Select a color</option>
				<option value='blue'>Blue</option>
				<option value='red'>Red</option>
			</select>
		</form>

		<script type="text/javascript">
		  var mplfig = {{ jsonfig|safe }}; // add jinja variable here
		  mpld3.draw_figure("figure", mplfig);
		</script>

	</body>

</html>