<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<title>Kepler False Positive Interactive Plotting Tool</title>

	</head>

	<body>

		<div id="figure"></div>

		<form id='optionsform' method='POST' action='/_plot_data'>

			<fieldset id="data_options">
				<label>Data Options</label>
				<ul>
					{% for each_op in data_options %}
						<li>
							<input type="checkbox" name="checkbox_data" onchange="form_validation()" id="{{ each_op }}" value="{{ each_op }}">
							<label for="{{ each_op }}">{{ each_op }}</label>
						</li>
					{% endfor %}
				</ul>
			</fieldset>

		</form>

		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>

		{{ jsonfig|safe }}

	</body>

</html>